<div class="container-fluid">
  <div class="row p-2">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto" style="padding-top: 60px;">

      <h2>Try parsing another address:</h2>

      <%= render 'form', flat: @flat %>

      <%= link_to 'Back', flats_path, class: "btn btn-outline-info" %>

    </div>
  </div>
</div>

<%#= raise %>
